<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG Learning" configfailurepolicy="continue">


    <test name="Test Suite">
        <classes>
            <class name="testcases.signin.SignInTest"></class>
            <class name="testcases.flightbooking.FlightBookingTest"></class>
            <class name="testcases.hotelbooking.HotelBookingTest"></class>
        </classes>
    </test>


</suite>
